.header-container {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
    background-image: url("/assets/img/abandoned-gee6d876fd_1280.jpg");
    background-attachment: fixed;
    padding: 10px 10px;
}

@media only screen and (max-width: 600px) {
    .header-container {
        height: 250px;
    }
}

.navbar-container {
    background-color: white;
    height: 70px;
}

@media only screen and (max-width: 600px) {
    .navbar-container {
        height: 135px;
    }
}

.container {
    background-color: white;
    height: 770px;
    width: 70%;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}

#upload-label {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#file-icon {
    font-size: 20px;
    font-weight: bold;
}

.upload-img {
    width: 120px;
    height: 120px;
}

.no-container {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-top: 30px;
    color: red;
}